<!-- 
  TODO on full implementation: 
    1. Modify colleges CSV to include a paragraph or so of information on the school that can be displayed above the cost information
    2. Add more functions to unit tests, especially for addition functions
    3. Condense if statements on calculation cost function
    4. Custom theming 
    5. Remove invalid characters from college list
->

<!-- Toolbar -->
<div class="theme-wrapper">
  <div class="toolbar" role="banner">
      <span style="padding:20px">Welcome, User</span>
      <div class="spacer"></div>
  </div>

  <div class="content">
    <app-college></app-college>
  </div>
</div>

<router-outlet></router-outlet>