<div class="container">
    <div class="row">
      <div class="col-12">
        <mat-card>
          <h1>College Cost Calculator Tool</h1>
          <hr>
          <p style="text-align: left;">Instructions: Select a college above by typing in the name or scrolling through the dropdown. Information
            about the cost of the institution will be shown below, with in state tuition being the default selection when determining cost.
            To select out of state tuition or to see the total cost with room and board included, use the checkboxes.</p>
          <form [formGroup]="collegeForm">
            <mat-form-field class="full-width">
              <input type="text"
                     placeholder="Enter College Name"
                     aria-label="Colleges"
                     matInput
                     formControlName="collegeSelection"
                     [matAutocomplete]="auto"
                     #input>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="getValues($event.option.value)">
                <mat-option *ngFor="let college of filteredOptions | async" [value]="college.collegeName">
                  {{college.collegeName}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </mat-card>
      </div>
    </div>
    <div *ngIf="collegeForm.value.collegeSelection != ''">
        <div class="row">
            <div class="col-12">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon aria-hidden="false" aria-label="Graduation cap icon">school</mat-icon><br>
                            {{collegeForm.value.collegeSelection }}
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
            <div class="row">
                <div class="col-md-4">
                    <mat-card >
                        <mat-card-header>
                            <mat-card-subtitle>
                                <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon><br>
                                In State Tution Cost:
                            </mat-card-subtitle>
                            <mat-card-title>{{collegeForm.value.inTuition | currency }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                            <p>Selected by default</p>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card >
                        <mat-card-header>
                            <mat-card-subtitle>
                                <mat-icon aria-hidden="false" aria-label="Airplane icon">flight</mat-icon><br>
                                Out of State Tution Cost:
                            </mat-card-subtitle>
                            <mat-card-title>{{checkIfZero(collegeForm.value.outTuition) ? (collegeForm.value.outTuition | currency) : (collegeForm.value.outTuition | handleZero)}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                            <mat-checkbox class="example-margin"
                            (change)="includeOutCost($event.checked)">
                                Select Out of State Tuition
                            </mat-checkbox>
                        </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-md-4">
                    <mat-card >
                        <mat-card-header>
                            <mat-card-subtitle>
                                <mat-icon>airline_seat_individual_suite</mat-icon><br>
                                Room & Board:
                            </mat-card-subtitle>
                            <mat-card-title>{{collegeForm.value.roomBoard | currency}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-actions>
                            <mat-checkbox class="example-margin"
                            (change)="includeRoomCost($event.checked)">
                                Include Room & Board
                            </mat-checkbox>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-card >
                        <mat-card-header>
                            <mat-card-subtitle>
                                <mat-icon aria-hidden="false" aria-label="Dollar sign icon">attach_money</mat-icon><br>
                                Total Cost:
                            </mat-card-subtitle>
                            <mat-card-title>{{cost | currency }}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
  </div>
